/* Phone view and all which is smaller than 1000px */

@media (max-width: 1000px) {

      .col-25, .col-75 {
        

          /*margin-top: 0;*/
          /*font-size: xx-large;*/
          font-size: 70px;
          height: 4em;
          width: 100%;
      }
      html{
    scroll-behavior: smooth;
}
        input[type=submit]{
          /*display: flex;
          align-content: flex-end;*/
          margin-top: 0;
          /*font-size: xx-large;*/
          font-size: 70px;
          height: 4em;
          width: 100%;
          text-align: center;
          
        }
        input[type=number]{
          /*font-size: xx-large;*/
          font-size: 70px;
          height: 4em;
        }
        input[type=text]{
          /*font-size: xx-large;*/
          font-size: 70px;
          height: 4em;
        }

        select{
          /*font-size: xx-large;*/
          font-size: 70px;
        }

        .text {
          color: #f2f2f2;
          font-size: 40px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          text-shadow: 2px 3px 4px #000000;
      }

      #nav_on_phone{
          display: none;
          text-align: center;
      }
  	.wrapper {
          /*display: grid;*/
          display: grid;
          grid-gap: 0.5em;
          grid-template-columns: auto;
          text-align: center;
          font-size: 100px;
          -webkit-animation: navmove 3s; /* Safari 4.0 - 8.0 */
          animation: navmove 3s;
          animation: navmove 3s forwards;
          position: relative;
          -webkit-animation: navmove 3s forwards; /* for less modern browsers */
      }

      @keyframes navmove {
          from {
              top: 1000px;
          }
          to {
              top: 0px;
          }
      
      }




  	body {
      background-color: white;
  	
  	max-width: 100%;
      overflow-x: hidden;
      margin:0;
      padding:0;
      }
      
      .phone_nav_button{
          /*display:block;*/
          display: flex;
          background: #ed413d;;
          margin-left: auto;
          height: 50vw;
          text-align: center;
          color: white;
          align-content: center;
          justify-content: center;
      }


      /*Navbar Popup Button*/

      .container_navbarbutton{
          display: inline-block;
          cursor: pointer;
      }

      .bar1, .bar2, .bar3 {
          width: 350px;
          height: 50px;
          background-color: white;
          margin: 76px 0;
          transition: 0.4s;
        }
        
        .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
        .media_square_square{
          width: 100%;
          height: 1580px;
          background-color: #4bc06e;
          border-radius: 30px;
          -webkit-animation: navmove 3s; /* Safari 4.0 - 8.0 */
          animation: navmove 3s;
          animation: navmove 3s forwards;
          position: relative;
          -webkit-animation: navmove 3s forwards; /* for less modern browsers */
        }

        .media_squares {
          display: grid;
          grid-template-columns: 100%;
          /*
              Make a gap between all of them
              grid-column-gap: 1em;
              grid-row-gap: 1em;
              */
          grid-gap: 1em;
          row-gap: 2em;
          justify-content: center;
        }


      

  .media_square_square_video{
      width: 1080px;
      height: 1080px;
  }
        
        .logosection {
      text-align: center;
      z-index: 7;
      position: absolute;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-shadow: 2px 3px 4px #000000;
      color: white;
      font-size: xx-large;
  }

  /* Position the "next button" to the right */

  .next {
      right: 0;
      border-radius: 3px 0 0 3px;
      width: 100px;
      height: 100px;
  }


  .prev,
  .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: 100px;
      height: 100px;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 50px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
  }

        




  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 970px;
    margin-left: -100px;
    float: right;
    text-align: center;
  }

  .dropdown-content a {
    float: right;
    color: white;
    width: 970px;
    margin-left: -100px;
    text-decoration: none;
    display: block;
    text-align: center;
    
  }

  .dropdown-content a:hover {
    background-color: white;
    color: black;

  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #ed413d;

  }

  .dropdown .dropbtn {
    /*font-size: 16px;  */
    color: white;
    background-color: #ed413d;
    margin: 0;
    overflow: hidden;
    text-align: center;
  }







  .button {
    font-size: 100px;
  	font-weight: bold;
  	letter-spacing: 5px;
  	outline: none;
  	cursor: pointer;
  	color: white;
  	background-color: #7F8C8D;
  	border: none;
  	border-radius: 4px;
  }
  #play-button {
  	background-color: #ed413d;
  }
  #play-button:hover {
  	background-color: black;
  }
  #pause-button {
  	background-color: #ed413d;
  }
  #pause-button:hover {
  	background-color: black;
  }
  #stop-button {
  	background-color: #ed413d;
  }
  #stop-button:hover {
  	background-color: black;
  }
  #pause-button,
  #stop-button {
  	
  }
  iframe {
  	margin: 0 auto;
  	width: 0px;
  	height: 0px;
  	float: left;
  	clear: both;
  	visibility: visible;
  	background-color: #eee;
  }



  .persoenlichkeiten_raster_gruppe {
  display: grid;
  grid-template-columns: 100%;
  /*
      Make a gap between all of them
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      */

  grid-gap: 1em;
  font-family: Arial, Helvetica, sans-serif !important;
  justify-content: space-between;
  padding: 30px;
}
  


h1{
    /*font-size: 90px;*/
    font-size: 3.0em;
    text-align: center;
  }

h2{
  font-style: normal;
  font-size: 2.9em;
}
  h3{
  font-style: normal;
  font-size: 2.0em;
}

h4{
  font-style: normal;
  font-size: 1.5em;
}

p {
    /*font-size: 80px;*/
    /*font-size: xx-large;*/
    /*font-size: 70px;*/
    font-style: normal;
    font-size: 1.4em;
      }

  


.slideshow-container img{
  width: 100%;
  height: auto;
}


.nav_text:hover{
color:black;
}

a:hover{
color: black;
}


a {
color:white;
text-decoration: none;
}

.ueberuns_raster_gruppe{
  	display: grid;
	grid-template-columns: 100%;
	/*
      Make a gap between all of them
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      */

	grid-gap: 1em;
	font-family: Arial, Helvetica, sans-serif !important;
	justify-content: space-between;
	padding:12px;
}

.ueberuns_raster_gruppe_ehrenmitglieder{
  	display: grid;
	grid-template-columns: 100%;
	/*
      Make a gap between all of them
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      */

	grid-gap: 1em;
	font-family: Arial, Helvetica, sans-serif !important;
	justify-content: space-between;
	padding:12px;
}
.ueberuns_raster_ehrenmitglieder img{
	/*float: right;*/
	/*height: 400px;*/
	display: block;
	width: 290px;
	border-radius: 30px;
    filter: drop-shadow(1px 4px 10px #222);
	margin-left: auto;
  	margin-right: auto;
}

.buecher_raster{
	display: grid;
	grid-template-columns: 50% 50%;
	/*
      Make a gap between all of them
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      */

	grid-gap: 1em;
	font-family: Arial, Helvetica, sans-serif !important;
	justify-content: space-between;
	padding:20px;
	text-align: center;

}
.buecher_raster details{
	text-align: left;
}
.buecher_raster summary{
	text-align: center;
}
.buch img{
		width: 290px;
		border-radius: 30px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		align-content: center;
	}
  .media_square_square_sillydiv{
  clip-path: inset(0px 0px 18px 0px);
  height: 1000px;
}
.media_square_square_image {
      /*alt="Lamp" width="300px" height="300px" margin="auto" top="0" left="0" 
      right="0" bottom="0" position="absolute" overflow="hidden"*/
      width: auto;
      height: 1500px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      overflow: hidden;
  }
  .media_square_square_titletext{
    font-size: 40px;
  }

  .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  z-index: 6;
  }



/* ICON BAR */


.icon-bar {
  position: fixed;
  top: 50%;
  left: 94%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  
}

  .icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 100px;
  
}




  #footer_left p{
  color: white;

  font-size: 35px;
}

#footer_right p{
  color: white;
  font-size: 35px;
}



.madeby{
  font-size: 20px;
  text-align: right;

}

.parolen_platform_content{
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1em;
  font-family: Arial, Helvetica, sans-serif !important;
  justify-content: space-between;
  padding:12px;
  font-size: 10px;
}
  #schweizer_border{
  border-radius: 30px;
  border: 5px #ff8e03;
  padding: 5px; 
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 60%), 0 6px 20px 0 rgba(0, 0, 0, 60%);
  font-size: 10px;

  }
  .footer_group{
    padding: 22px;
  }

  .parolen_platform_content_video{
  width: 100%;
  height: 500px;
  float: none;
  }


  .kurzinfo_raster_gruppe{
  display: grid;
  grid-template-columns: 100%;
  /*
      Make a gap between all of them
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      */

  grid-gap: 5em;
  font-family: Arial, Helvetica, sans-serif !important;
  justify-content: space-between;
  text-align: center;
  padding:12px;
}


  .kurzinfo_raster_red img{
    /*float: right;*/
    /*height: 400px;*/
    display: block;
    width: 290px;
    border-radius: 30px;
    filter: drop-shadow(1px 4px 10px #ed413e);
    margin-left: auto;
    margin-right: auto;
  }
  .kurzinfo_raster_blue img{
   /*float: right;*/
    /*height: 400px;*/
    display: block;
    width: 290px;
    border-radius: 30px;
    filter: drop-shadow(1px 4px 10px #45b9ba);
    margin-left: auto;
    margin-right: auto;
  }

  .kurzinfo_raster_green img{
   /*float: right;*/
    /*height: 400px;*/
    display: block;
    width: 290px;
    border-radius: 30px;
    filter: drop-shadow(1px 4px 10px #57b36e);
    margin-left: auto;
    margin-right: auto;
  }
}


form.loginform span.psw {
     display: block;
     float: none;
  }
  form.loginform cancelbtn {
     width: 100%;
  }



}